/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}





:root {
  /* Light Green Theme */
  --bg-color: #C0CDBF;
  --primary-color: #FBF4E4;
  --border-color: #95B6A2;
  --shadow-color: 116deg 8% 48%;
  --heading-color: #333;
  --text-color: #333;

  /* Dark Theme */
  --bg-color: #171717;
  --primary-color: #FFF7E8;
  --border-color: var(--bg-color);
  --shadow-color: 0deg 0% 0%;
  --heading-color: var(--primary-color);
  --text-color: var(--bg-color);

  /* https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-elevation-low:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.34),
    0px 2px 2.3px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.36),
    0px 1.6px 1.8px -0.8px hsl(var(--shadow-color) / 0.36),
    0px 4.1px 4.6px -1.7px hsl(var(--shadow-color) / 0.36),
    0px 10px 11.3px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high:
    0px 0.5px 0.6px hsl(var(--shadow-color) / 0.34),
    0px 2.9px 3.3px -0.4px hsl(var(--shadow-color) / 0.34),
    0px 5.5px 6.2px -0.7px hsl(var(--shadow-color) / 0.34),
    0px 9px 10.1px -1.1px hsl(var(--shadow-color) / 0.34),
    -0.1px 14.3px 16.1px -1.4px hsl(var(--shadow-color) / 0.34),
    -0.1px 22.4px 25.2px -1.8px hsl(var(--shadow-color) / 0.34),
    -0.1px 34px 38.3px -2.1px hsl(var(--shadow-color) / 0.34),
    -0.2px 50.1px 56.4px -2.5px hsl(var(--shadow-color) / 0.34);
}


/* Base 
----------------------------------------- */
html,
body {
  background-color: var(--bg-color);
  font-family: system-ui;
  height: 100%;
  max-height: 100vh;
  overflow: hidden;
  position: relative;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}


/* Header 
----------------------------------------- */
.site-header {
  color: var(--heading-color);
  position: absolute;
  top: 20px;
  text-align: center;
}

.site-logo {
  width: 125px;
}

@media (min-width: 750px) {
  .site-header {
    top: 30px;
  }
  .site-logo {
    width: 150px;
  }
}


/* Deck Section 
----------------------------------------- */
.deck {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}


/* Swiper 
----------------------------------------- */
.swiper {
  height: 100%;
  max-height: 300px;
  max-width: 525px;
  width: 70vw;
}

.swiper-slide {
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 16px;
  box-shadow: var(--shadow-elevation-medium);
  color: var(--text-color);
  display: flex;
  font-size: clamp(1.125rem, 0.3594rem + 2.9167vw, 2rem);
  font-weight: bold;
  justify-content: center;
  padding: 5px;
}

.swiper-slide__inner {
  align-items: center;
  border: 10px solid var(--border-color);
  border-radius: 12px;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 20px;
  position: relative;
  width: 100%;
}

.swiper-slide__inner::before,
.swiper-slide__inner::after {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.swiper-slide__inner::before {
  border: 10px solid var(--border-color);
}

.swiper-slide__inner::after {
  border: 10px solid var(--primary-color);
  border-radius: 8px;
}

@media (min-width: 600px) {
  .swiper {
    max-height: 370px;
    width: 75vw;
  }
  .swiper-slide {
    padding: 10px;
  }
  .swiper-slide__inner {
    border-width: 20px;
  }
}


/* Card
----------------------------------------- */
.question {
  line-height: 1.25;
  text-align: center;
  text-wrap: balance;
}

.question-id {
  font-size: 14px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}